.wrapper{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.inline{
    display: inline-grid;

}

#item {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }